{deps, 
 [
  {lager, "2.0.*", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {meck, "0.8.*", {git, "git://github.com/eproxus/meck", {tag, "0.8.2"}}}
 ]}.

{lib_dirs, ["deps", "apps"]}.

{sub_dirs,
 ["apps/httpcluster",
  "release"
 ]}.

{require_otp_vsn, "R16"}.

{erl_opts, 
 [debug_info, warnings_as_errors,
  {parse_transform, lager_transform}
 ]}.

{cover_enabled, true}.

{eunit_opts, [verbose]}.

{edoc_opts, 
 [verbose, no_packages,
  {stylesheet_file, "doc/css.edoc"}
 ]}.

{clean_files, ["release/httpcluster"]}.
