{deps, [{folsom, ".*", {git, "git://github.com/boundary/folsom.git", {branch, "master"}}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
        {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
        {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}}
       ]}.

{lib_dirs, ["deps", "apps"]}.

{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {i, ["include"]}]}.

{require_otp_vsn, "R16"}.

{clean_files, ["release/beatnet"]}.

{sub_dirs, [
            "apps/beatnet",
            "release"
           ]}.

{edoc_opts, [no_packages]}.
